<div class="q-title-left">Adres korespondecyjny</div>
<div class="q-content-left">
  <img src="../assets/contact_people_icon.png">
  <p>Biuro podróży Słoneczne wakacje<br>
    ul. Naciagaczy 7<br>
    27-532 Chrząszczygrzewoszyce
  </p>
</div>

<div class="q-title-center">Napisz e-mail</div>
<div class="q-content-center">
  <img src="../assets/contact_letter_icon.png">
  <p>
    <a href="mailto:biuro@slonecznewakacje.pl">Napisz do nas </a>

  </p>
</div>

<div class="q-title-right">Telefon</div>
<div class="q-content-right">
  <img src="../assets/contact_phone_icon.png">
  <p>Centrum Obsługi klienta<br>
    stancjonarny: 15 861-40-76<br>
    komórkowy: 123-456-789

  </p>
</div>
