

<div><img class="betstOfTheBest" src="../assets/bestOfTheBest.jpg"
  style="float:right;" />

  <p class="about-left">
    <span class="whoarewe">Kim jesteśmy?<br></span>

    Działamy na rynku od wielu lat. Przez ten czas zbudowaliśmy globalną społeczność,
    która sięga od Europy po Azję. Wiemy, jak to jest zaplanować twoją wymarzoną wycieczkę.
    Nasze wycieczki oferuje mnóstwo fascynujących wrażeń. Zaufaj nam. Wiemy, jak to działa.
  </p>
</div>

<img class="imageTeam" src="../assets/team-photo.jpg" >

<h1>Najważniejsi są ludzie</h1>

<div class="about-2" >Jesteśmy grupą pasjonatów z wieloletnią praktyką w organizacji
  wyjazdów wakacyjnych. Nasi konsultacji <br>i animatorzy są nie tylko zapewnią wam opiekę,
  ale również poprowadzą Was w najodleglejsze zakątki świata. Kochamy wysyłać ludzi
  w nieznane jeszcze rubierze. Wierzymy, że nasze wycieczki są dla każdego. Wystarczy
  znaleźć w sobie odwagę i napisać do nas lub wykupic wycieczkę.
</div>
